body{
	background: rgba(0,0,0,.35);
}
.player-body{
	position: absolute;
    top: 11%;
    bottom: 18%;
    left: 10%;
    right: 10%;
    min-height: 328px;
    cursor: default;
}
.player-modal{
	margin-right: 440px;
}
.player_songlist__line{
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: .02;
}
.player_songlist{
	
}
.song-info{
    position: absolute;
    top: 0;
    right: 0;
    width: 340px;
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}
.song-info-info{
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}
.song_info__album, .song_info__name, .song_info__singer {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 28px;
}
.song_info__pic {
    vertical-align: middle;
    width: 186px;
    height: 186px;
}